{{define "title"}}
  Warung Lengko | {{index . "name"}}
{{end}}

{{define "body"}}
  <div data-module='{{index . "module"}}'></div>

  <section class="bg-1 h-900x main-slider pos relative">
    <div class="triangle-up pos-bottom"></div>
    <div class="container h-100">
      <div class="dplay-tbl">
        <div class="dplay-tbl-cell center-text color-white">
          <h2>Warung Pandawa 5</h2>
          <h1 class="mt-30 mb-15">Nasi Lengko & Lauk Pauk</h1>
          <h5><a href="#" class="btn-primaryc plr-15"><b>Lihat Menu Hari Ini</b></a></h5>
        </div>
      </div>
    </div>
  </section>

  <section class="story-area left-text center-sm-text pos-relative">
    <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
    <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
    <div class="container">
      <div class="heading">
        <img src="/static/images/heading_logo.png" alt="" class="heading-img">
        <h2>Our Story</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="mb-30"> 
            Warung Lengko berdiri sejak tahun 1993 di Desa Sukamelang Indramayu. 
            Awalnya Warung Lengko Hanya menyajikan makanan nasi lengko khas Indramayu dan lauk pauk sederhana. 
            Kini Warung Lengko menyediakan beragam lauk pauk serta pelanggan dapat melakukan pesan antar dan Catering untuk wilayah sekitar.
          </p>
        </div>
        <div class="col-md-6">
          <p class="mb-30" style="padding-right: 30px;">
            Semua sajian menu sangat beragam dan enak. bahkan anda dapat melakukan request menu yang tidak ada dalam daftar. 
            Tentunya dengan harga yang bersaing dengan rasa yang enak dan nikmat.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="story-area bg-seller color-white pos-relative">
    <div class="pos-bottom triangle-up"></div>
    <div class="pos-bottom triangle-bottom"></div>
    <div class="container">
      <div class="heading">
        <img src="/static/images/heading_logo.png" alt="" class="heading-img">
        <h2>Best Seller</h2>
      </div>
      <div class="row">
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6"> 
          <div class="center-text mb-30">
            <div class="img-200x mlr-auto pos-relative">
              <h6 class="ribbon-cont"><div class="ribbon-primary"></div><b></b></h6>
              <img src="/static/images/cheeseburger.png" alt="cheeseburger">
            </div>
            <h5 class="mt-20">Pizza Cheeseburger</h5>
            <h4 class="mt-5"><b>Rp. 250.000,00</b></h4>
            <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25">Pesan Sekarang</a></h6>
          </div>
        </div>

      </div>
      <h6 class="center-text mt-40 mt-sm-20 mb-30">
        <a href="#" class="btn-primaryc plr-25"><b>Lihat Menu Hari Ini</b></a> 
      </h6>
    </div>

  </section>

  <section class="">
    <div class="container">
      <div class="heading">
        <img src="/static/images/heading_logo.png" alt="logo" class="heading-img">
        <h2>Menu di Tempat Kita: </h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="selecton brdr-b-primary mb-70" id="id-food-menu">
            <!-- <li><a href="#" class="active" data-select="*"><b>Semua Menu</b></a></li>
            <li><a href="#" data-select="Lengko"><b>Lengko</b></a></li>
            <li><a href="#" data-select="LaukPauk"><b>Lauk Pauk</b></a></li>
            <li><a href="#" data-select="Nasi"><b>Nasi</b></a></li>
            <li><a href="#" data-select="Minuman"><b>Minuman</b></a></li> -->
          </ul>
        </div>
      </div>
      <div class="row" id="id-food-menu-data">
        <!-- <div class="col-md-6 food-menu Lengko">
          <div class="sided-90x mv-30">
            <div class="s-left"><img src="/static/images/chickenloverz.png" alt="chickenloverz"></div>
            <div class="s-right">
              <h5 class="mb-10"><b>Lengko</b><b class="color-primary float-right">Rp. 10.000,00</b></h5>
              <p class="pr-70">Bumbu Lengko (tanpa nasi) dengan sayur segar, tempe, tahu dan sambal kacang.</p>
              <a href="#" class="btn-brdr-primary plr-25"><b>Pesan</b></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 food-menu LaukPauk">
          <div class="sided-90x mv-30">
            <div class="s-left"><img src="/static/images/chickencanneloni.png" alt="chickencanneloni"></div>
            <div class="s-right">
              <h5 class="mb-10"><b>Lauk Pauk</b><b class="color-primary float-right">Rp. 10.000,00</b></h5>
              <p class="pr-70">Bumbu Lengko (tanpa nasi) dengan sayur segar, tempe, tahu dan sambal kacang.</p>
              <a href="#" class="btn-brdr-primary plr-25"><b>Pesan</b></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 food-menu Nasi">
          <div class="sided-90x mv-30">
            <div class="s-left"><img src="/static/images/frankfurterbbq.png" alt="frankfurterbbq"></div>
            <div class="s-right">
              <h5 class="mb-10"><b>Lauk Pauk</b><b class="color-primary float-right">Rp. 10.000,00</b></h5>
              <p class="pr-70">Bumbu Lengko (tanpa nasi) dengan sayur segar, tempe, tahu dan sambal kacang.</p>
              <a href="#" class="btn-brdr-primary plr-25"><b>Pesan</b></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 food-menu Minuman">
          <div class="sided-90x mv-30">
            <div class="s-left"><img src="/static/images/meatmonsta.png" alt="meatmonsta"></div>
            <div class="s-right">
              <h5 class="mb-10"><b>Lauk Pauk</b><b class="color-primary float-right">Rp. 10.000,00</b></h5>
              <p class="pr-70">Bumbu Lengko (tanpa nasi) dengan sayur segar, tempe, tahu dan sambal kacang.</p>
              <a href="#" class="btn-brdr-primary plr-25"><b>Pesan</b></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

{{end}}
